.sidebar {
  padding: 3rem 2rem !important;

  * {
    font-size: 1rem;
    color: #414552;
  }

  .summary {
    list-style-type: none;
  }
}

.list {
  margin: 0;
  padding-left: 1.1rem;
}

.listItem {
  list-style-type: none;
  font-weight: 500;
  cursor: pointer;

  .pageLink {
    text-decoration: none;
  }
}

.listItem + .listItem, .summary + .list {
  margin-top: 0.6rem;
}
.header {
  color: #687385;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}