.sidebar {
  padding: 3rem 2rem !important;

  * {
    font-size: 1rem;
    color: var(--sidebar-link-color);
  }

  .summary {
    list-style-type: none;
    display: flex;
    align-items: center;
  }
}

.list {
  margin: 0;
  padding-left: 1.1rem;
}

.listItem {
  list-style-type: none;
  font-weight: 500;
  cursor: pointer;

  .pageLink {
    text-decoration: none;
  }
}

.listItem + .listItem, .summary + .list {
  margin-top: 0.6rem;
}
.header {
  color: var(--sidebar-header-color);
  font-weight: 400;
  text-decoration: none;
  cursor: pointer;
}

.header.active {
  color: var(--sidebar-active-link-color);
}

.headingList {
  padding-left: 2rem !important;
}

