body {
  margin: 0;
  max-height: 100vh;
  max-width: 100vw;
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
}

:root {
  background-color: var(--bg-color);
}

* {
  // margin: 0;
  // padding: 0;
  line-height: 1.5;
}

// Ace editor

.ace-tomorrow-night-blue {
  background-color: #212D63;
}

.aceSelectedWord {
  background-color: #273c76;
  position: absolute;
}

.ace_cursor {
  opacity: 0 !important;
}

.ace_gutter-active-line {
  background-color: transparent !important;
}

.ace_editor {
  border-radius: 1rem;
}

.ace_text-layer {
  font-family: 'Fira Code' !important;
}

// Markdown styling

h1, h2, h3, h4, h5 {
  color: var(--headline-color);
}

// Table styling

table {

  border-collapse: collapse;
  border-radius: 0.5rem;
  margin: 25px 0;
  font-size: 14px;
  min-width: 400px;
  width: 100%;
  // box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

  thead {

    color: var(--headline-color);

    tr {
      // background-color: #009879;
      // color: #ffffff;
      text-align: left;
      border-bottom: 1px solid var(--border-color);
    }
  }

  th,
  td {
    padding: 12px 15px;
  }

  tbody {
    tr {
      border-bottom: 1px solid var(--border-color);
      color: var(--primary-color);
    }

    // tr:nth-of-type(even) {
    //   background-color: #f3f3f3;
    // }

    tr:last-of-type {
      // border-bottom: 2px solid #009879;
    }
  }

}

@media screen and (max-width: 992px) {
  table {
    font-size: 2.25vmin;
  }
}